*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --background: #121212;
    --surface: #242424;
    --text: #f2f2f2;
    --links: #d9d9d9;
    --borders: #ffffff1a;
    --blue: #4169e1;
    --blue-light: #7a96ea;
    --blue-lightest: #b3c3f3;
    --purple: #e141d9;
    --purple-light: #ea7ae4;
    --purple-lightest: #f3b3ef;
}

body {
    font-family: "Funnel Display", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 20px;
    background-color: var(--background);
}

header {
    display: flex;
    padding-top: 10px;
    padding-bottom: 10px;
    justify-content: space-between;
    margin: auto;
    border-bottom: 1px solid var(--borders);
    align-items: center;
    color: var(--text);

    h1 {
        margin-left: 10px;
    }

    button {
        margin-right: 10px;
    }

    ul {
        display: flex;
        list-style: none;
        gap: 5px;
        align-items: center;
    }

    li {
        display: inline-block;

        a {
            display: inline-block;
            padding: 10px;
            text-decoration: none;
            color: var(--links);

            &:hover {
                background-color: var(--surface);
                border-radius: 5%;
            }
        }
    }

    #color_toggle {
        padding: 10px;
        color: var(--text);
    }

    #burger_menu {
        display: none;
        padding: 10px;
        color: var(--text);

        @media (max-width: 768px) {
            display: inline-block;
            position: absolute;
            top: 15px;
            right: 20px;
        }
    }

    @media (max-width: 1024px) {
        flex-direction: column;

        #color_toggle{
            position: absolute;
            top: 15px;
            right: 20px;
        }
    }

    @media (max-width: 768px) {

        flex-direction: column;
        align-items: center;

        nav {
            width: 100%;
            margin-top: 10px;

            ul {
                display: none;
                flex-direction: column;
                width: 100%;
                text-align: center;

                li {
                    width: 100%;

                    a {
                        width: 100%;
                    }
                }

                &.active {
                    display: flex;
                }
            }
        }

        #color_toggle {
            display: none;
            width: 100%;
            align-items: center;
            position: static;

            &.active {
                display: flex;
                flex-direction: column;
            }
        }

    }
}

.main_div {
    display: flex;

    div {
        color: var(--text);
    }

    #photo {
        padding: 20px;
    }
}