*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --background: #121212;
    --surface: #242424;
    --inner-surface: #363636;
    --inner-inner-surface: #474747;
    --text: #f2f2f2;
    --links: #d9d9d9;
    --borders: #ffffff1a;
    --blue: #4169e1;
    --blue-light: #6687e7;
    --blue-lightest: #8da5ed;
    --blue-lightestest: #b3c3f3;
    --purple: #e141d9;
    --purple-light: #e766e0;
    --purple-lightest: #ed8de8;
    --purple-lightestest: #f3b3ef;
}

body {
    font-family: "Funnel Display", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 20px;
    background-color: var(--background);
    transition: ease 0.3s all;
}

header {
    display: flex;
    max-width: 1440px;
    padding-top: 10px;
    padding-bottom: 10px;
    justify-content: space-between;
    margin: auto;
    border-bottom: 1px solid var(--borders);
    align-items: center;
    color: var(--text);

    h1 {
        margin-left: 10px;
    }

    button {
        margin-right: 10px;
    }

    ul {
        display: flex;
        list-style: none;
        gap: 5px;
        align-items: center;
    }

    li {
        display: inline-block;

        a {
            display: inline-block;
            padding: 10px;
            text-decoration: none;
            color: var(--links);

            &:hover {
                background-color: var(--surface);
                border-radius: 5%;
            }
        }
    }

    #color_toggle {
        padding: 10px;
        color: var(--text);
    }

    #burger_menu {
        display: none;
        padding: 10px;
        color: var(--text);

        @media (max-width: 768px) {
            display: inline-block;
            position: absolute;
            top: 15px;
            right: 20px;
        }
    }

    @media (max-width: 1024px) {
        flex-direction: column;

        #color_toggle {
            position: absolute;
            top: 15px;
            right: 20px;
        }
    }

    @media (max-width: 768px) {

        flex-direction: column;
        align-items: center;

        nav {
            width: 100%;
            margin-top: 10px;

            ul {
                display: none;
                flex-direction: column;
                width: 100%;
                text-align: center;

                li {
                    width: 100%;
                    border-radius: 0px;

                    a {
                        width: 100%;

                        &:hover {
                            border-radius: 0%;
                        }
                    }
                }

                &.active {
                    display: flex;
                }
            }
        }

        #color_toggle {
            display: none;
            width: 100%;
            align-items: center;
            position: static;

            &.active {
                display: flex;
                flex-direction: column;
            }
        }

    }
}

main {
    section {
        display: flex;
        max-width: 1440px;
        padding: 10px;
        margin: auto;
        gap: 25px;

        @media (max-width: 1024px) {
            flex-direction: column;
        }
    }

    h2 {
        font-size: 64px;
        line-height: 1;

        small {
            display: block;
            font-weight: 100;
        }

        @media (max-width:1024px) {
            font-size: 48px;
        }
    }

    .yapping,
    .about-me,
    .skills,
    .experiences {
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: var(--surface);
        color: var(--text);
        padding: 20px;
        border-radius: 25px;
        flex: 1;
        gap: 5px;

        p {
            font-size: 24px;
            margin-top: 10px;
        }
    }

    .about-me,
    .skills,
    .experiences {
        h2 {
            font-size: 48px;
            text-align: center;
            margin-bottom: 20px;
        }
    }

    .personal-links {
        margin-top: 20px;
        margin-bottom: 10px;

        a {
            margin-right: 10px;
            margin-left: 10px;
        }
    }

    .photo {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: var(--blue);
        color: var(--text);
        padding: 20px;
        border-radius: 25px;
        flex: 1;

        img {
            max-width: 360px;
            border-radius: 25px;
            box-shadow:
                0 1px 1px hsl(0deg 0% 0% / 0.075),
                0 2px 2px hsl(0deg 0% 0% / 0.075),
                0 4px 4px hsl(0deg 0% 0% / 0.075),
                0 8px 8px hsl(0deg 0% 0% / 0.075),
                0 16px 16px hsl(0deg 0% 0% / 0.075);
        }
    }

    .socials {
        display: inline-block;
        background-color: var(--inner-surface);
        border-radius: 10px;
        padding: 2px;
        width: fit-content;

        a {
            display: inline-flex;
            color: var(--text);
            text-decoration: none;
            margin-left: 5px;
            margin-right: 5px;
            padding: 10px;

            img {
                width: 45px;
            }
        }
    }

    .skills {
        .skill-list {
            display: grid;
            gap: 30px;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(2, 1fr);

            .skill-selection {
                background-color: var(--inner-surface);
                align-self: center;
                width: 100%;
                height: 100%;
                padding: 25px;
                border-radius: 15px;

                h2 {
                    font-size: 36px;
                    text-decoration: underline;
                }

                h3 {
                    text-align: center;
                    font-size: 28px;
                }

                ul {
                    list-style: none;
                    list-style-position: inside;
                    text-align: center;
                    margin-bottom: 20px;

                    li {
                        display: inline-block;
                        background-color: var(--blue);
                        padding: 10px 20px;
                        border-radius: 15px;
                        margin: 5px;
                        box-shadow:
                            0 1px 1px hsl(0deg 0% 0% / 0.075),
                            0 2px 2px hsl(0deg 0% 0% / 0.075),
                            0 4px 4px hsl(0deg 0% 0% / 0.075),
                            0 8px 8px hsl(0deg 0% 0% / 0.075),
                            0 16px 16px hsl(0deg 0% 0% / 0.075);
                    }
                }

                &:nth-child(1) {
                    grid-column: span 1;
                    grid-row: span 2;
                }

                &:nth-child(2) {
                    grid-column: span 1;
                    grid-row: span 1;
                }

                &:nth-child(3) {
                    grid-column: span 1;
                    grid-row: span 1;
                }
            }

            @media (max-width: 1024px) {
                grid-template-columns: repeat(1, 1fr);
                grid-template-rows: repeat(1, 1fr);
            }
        }
    }

    .separator {
        background-color: var(--inner-surface);
        align-self: center;
        width: 100%;
        height: 100%;
        padding: 25px;
        border-radius: 15px;
        margin-top: 10px;

        h2 {
            font-size: 36px;
            text-decoration: underline;
        }
    }

    #work {
        --work-rows: 3;

        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: repeat(var(--work-rows), 1fr);
        gap: 30px;
    }

    #outside {
        --outside-rows: 3;

        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: repeat(var(--outside-rows), 1fr);
        gap: 30px;
    }

    #class {
        --class-rows: 3;

        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: repeat(var(--class-rows), 1fr);
        gap: 30px;
    }

    .experience-information {

        p {
            margin-top: 0px;
        }

        h3 {
            font-size: 30px;

            short {
                font-size: 24px;
            }
        }

        h4 {
            margin-top: 15px;
            margin-bottom: 8px;
        }

        div {
            position: relative;
            padding: 25px;
            border-radius: 15px;
            background-color: var(--inner-inner-surface);

            ul {
                list-style: none;
                list-style-position: inside;

                li {
                    display: inline-block;
                    background-color: var(--purple-lightest);
                    color: #121212;
                    padding: 5px 10px;
                    border-radius: 15px;
                    margin: 3px;
                    font-size: 18px;
                    box-shadow:
                        0 1px 1px hsl(0deg 0% 0% / 0.075),
                        0 2px 2px hsl(0deg 0% 0% / 0.075),
                        0 4px 4px hsl(0deg 0% 0% / 0.075),
                        0 8px 8px hsl(0deg 0% 0% / 0.075),
                        0 16px 16px hsl(0deg 0% 0% / 0.075);
                }
            }

            button {
                margin-top: 20px;
                background-color: var(--blue);
                box-shadow:
                    0 1px 1px hsl(0deg 0% 0% / 0.075),
                    0 2px 2px hsl(0deg 0% 0% / 0.075),
                    0 4px 4px hsl(0deg 0% 0% / 0.075),
                    0 8px 8px hsl(0deg 0% 0% / 0.075),
                    0 16px 16px hsl(0deg 0% 0% / 0.075);

                &:hover {
                    cursor: pointer;
                }

                &:active {
                    background-color: var(--purple-lightest);
                }
            }
        }

        .company-info {
            grid-column: span 4;
            grid-row: span 3;
        }

        .company-logo {
            display: flex;
            justify-content: center;
            align-items: center;
            grid-column: span 2;
            grid-row: span 3;

            img {
                width: 75%
            }
        }

        .experience-description {
            grid-column: span 2;
            grid-row: span 1;
        }

        @media (max-width: 1024px) {

            .experience-description {
                grid-column: span 6;
                grid-row: span 1;
            }
        }
    }

    .purple {
        color: var(--purple-light);
    }

}

.button-like {
    background-color: var(--purple-lightest);
    color: #121212;
    text-decoration: none;
    display: inline-block;
    padding: 10px 30px;
    border-radius: 15px;
    border-width: 0px;
    transition: ease 0.3s all;

    &:hover {
        border-radius: 15px;
        background-color: var(--text);
        color: var(--background);
    }

    &.white {
        background-color: var(--text);
        color: var(--background);

        &:hover {
            color: #121212;
            background-color: var(--purple-lightest);
        }
    }

    &.black {
        background-color: var(--background);
        color: var(--text);

        &:hover {
            color: #121212;
            background-color: var(--purple-lightest);
        }
    }
}